<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.radar.sdk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver
            android:name=".RadarLocationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="io.radar.sdk.LocationReceiver.GEOFENCE_TRANSITIONED" />
                <action android:name="io.radar.sdk.LocationReceiver.LOCATIONS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".RadarJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
        <service android:name=".RadarForegroundService"
            android:foregroundServiceType="location"
            android:stopWithTask="true" />
    </application>
</manifest>
