version: 2.1
jobs:
  build_and_test:
    working_directory: ~/sdk
    docker:
      - image: cimg/android:2023.07
    steps:
      - checkout
      - run:
          name: Accept licenses
          command: yes | sdkmanager --licenses || true
      - run:
          name: Build
          command: ./gradlew check build assembleAndroidTest --stacktrace
workflows:
  build_and_test:
    jobs:
      - build_and_test
