# Trigger an SDK publication to Maven Central when a release is created on GitHub.
name: Radar Release Action
on:
  release:
    # See https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release
    types: [ prereleased, released ]
jobs:
  Build-And-Publish:
    runs-on: ubuntu-latest
    steps:
      # Prepare Environment
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Configure Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'microsoft'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      # Gradle Build & Publish
      - name: Build SDK and Publish to Maven
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USER }}
          NEXUS_TOKEN: ${{ secrets.NEXUS_TOKEN }}
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
          SNAPSHOT: false
        run: ./gradlew build publishAggregationToCentralPortal
